# Changes must also be made in the following files:
# ./environment.yml
# ./pyproject.toml
# ./setup.py
# https://github.com/conda-forge/unicorn-binance-trailing-stop-loss-feedstock/blob/main/recipe/meta.yaml

requests
ubtsl
unicorn-binance-rest-api
unicorn-binance-websocket-api
