# Changes must also be made in the following files:
# ./environment.yml
# ./meta.yaml
# ./pyproject.toml
# ./setup.py

requests
Cython
lucit-licensing-python>=1.8.1
unicorn-binance-rest-api>=2.2.0
unicorn-binance-websocket-api>=2.1.1
